<%= render "base" %>

<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-edit"></i></span>
    <h5><%= t('links.minority_feels.edit') %></h5>
  </div>
  <div class="box-content no-padding">
    <%= render "form" %>
  </div>
</div>
<%= render "admin/images/index" %>