<%= simple_form_for [:admin, @version] do |f| %>

  <%= f.input :platform, collection: [["iOS", "0"], ["Android", "1"]], :prompt=> true %>
  <%= f.input :value %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>

<% end %>