<%= render "base" %>

<div class="page-header">
  <h1><%= t("admin.pages.api.v2") %>API</h1>
</div>
<div class="api-description">
  <blockquote>
    <p class="text-info">此API参考文档专为拍立导项目服务（服务器端名ImgSeek），当前版本号为0.2.0，该API参考文档是稳定的。</p>
    <small>最后更新时间 2012-12-06 21:45</small>
  </blockquote>
</div>
<div class="api-list">
  <h4>API列表</h4>
  <ol>
    <li><a href="#pictures">pictures</a></li>
    <li><a href="#pictures-id">pictures/id</a></li>
    <li><a href="#places-search">places/search</a></li>
    <li><a href="#places-id">places/id</a></li>
    <li><a href="#places-id-mp3">places/id/mp3</a></li>
  </ol>
</div>
<div class="api-content">
  <div id="pictures" class="api well">
    <h3 class="name">/pictures</h3>
    <small class="desc">上传图片并返回匹配结果，结果是一个包含匹配的景点数组。</small>
    <dl>
      <dt>URL</dt>
      <dd><pre class="docs-example"></pre></dd>
      <dt>HTTP请求方式</dt>
      <dd>POST<dd>
      <dt>支持格式</dt>
      <dd>json<dd>
      <dt>是否需要登录</dt>
      <dd>否<dd>
      <dt>请求参数</dt>
      <dd>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>名字</th>
              <th>类型</th>
              <th>类别</th>
              <th>说明</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>scenic</td>
              <td>整数</td>
              <td>必选参数</td>
              <td>景区编号，以指定上传（扫描）的图片库。</td>
            </tr>
            <tr>
              <td>2</td>
              <td>image</td>
              <td>字符串</td>
              <td>必选参数</td>
              <td>需要上传（扫描）的图片路径。</td>
            </tr>
          </tbody>
        </table>
      <dd>
    </dl>
  </div>
</div>