<div class="toolbar">
  <div class="btn-toolbar">
    <%= link_to_if %w(index).include?(action_name), t('links.children_broadcasts.new'), new_admin_broadcast_children_broadcast_path, class: 'btn btn-success' %>
    <%= link_to_if %w(index).include?(action_name), t('links.broadcasts.index'), admin_broadcasts_path, :class => 'btn btn-success' %>
    <%= link_to_if %w(new create edit update).include?(action_name), t('links.children_broadcasts.index'), admin_broadcast_children_broadcasts_path, class: 'btn btn-success' %>
  </div>
</div>