<div class="toolbar">
  <div class="btn-toolbar">
    <div clss="btn_group">
      <%= link_to_if %w(index).include?(action_name), t('links.specials.new'), new_admin_special_path, class: "btn btn-success" %>
      <%= link_to_if %w(new create edit update).include?(action_name), t('links.specials.index'), admin_specials_path, class: "btn btn-success backinfo" %>
    </div>
  </div>
</div>