<div class="toolbar">
  <div class="btn-toolbar">
    <div class="btn-group">
      <% if params[:special_id].present? %>
        <%= link_to_if %w(new create edit update).include?(action_name), 
                       t('links.minorities.back_show'), admin_special_minority_path(params[:special_id], params[:minority_id]), :class => 'btn btn-success' %>
      <% elsif params[:fight_id].present? %>
         <%= link_to_if %w(new create edit update).include?(action_name), 
                       t('links.minorities.back_show'), admin_fight_minority_path(params[:fight_id], params[:minority_id]), :class => 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>