<%= simple_form_for @detailed, 
                    html: { class: 'form-horizontal' },
                    url: @detailed.new_record? ? 
                         admin_recommend_record_detaileds_path(
                            params[:recommend_id], 
                            params[:record_id]) :
                         admin_recommend_record_detailed_path(
                            params[:recommend_id],
                            params[:record_id],
                            @detailed)  do |d| %>
  <%= d.input :name %>
  <%= d.input :order %>
  <div class="form-actions">
    <%= d.button :submit, :class => 'btn-primary' %>
  </div>

<% end %>