
<%= render "base" %>
<div class="box">
  <div class="box-title">
    <span class="icon"><i class="icon-pencil"></i></span>
    <h5><%= t('links.recommend_detaileds.new') %></h5>
  </div>
  <div class="box-content no-padding">
    <%= render "form" %>
  </div>
</div>